<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3>{{isLogin ? 'Login Page' : 'Signup Page'}}</h3>
    <form [formGroup]="formLogin" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <!-- <app-custom-input name="email" label="Email" formControlName="email"></app-custom-input> -->
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group" *ngIf="f.submitted">
          <span
          class="text-block"
          [ngClass]="{ 'text-success': notError, 'text-danger': !notError }">
          {{ menssage }}</span>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
