<div class="row">
  <div class="col">
    <img [src]="detail.imgPath" alt="detail.name" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ detail.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group" appDropdown>
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Recipe
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onAddIngredient()">Add Ingredients to Shopping List</a>
          <ng-template *ngIf="isLogged">
              <a class="dropdown-item" (click)="onEdit()">Edit Recipe</a>
              <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
          </ng-template>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col">
    {{ detail.description }}
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of detail.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount | currency }})
      </li>
    </ul>
  </div>
</div>

