<div class="row">
  <div class="col">
    <form (ngSubmit)="onAddItem()" [formGroup]="slForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name:</label>
          <input
            [ngClass]="{'is-invalid': !slForm.get('name').valid && slForm.get('name').touched}"
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            >
            <span *ngIf="slForm.get('name').touched && !slForm.get('name').valid" class="text-help text-danger">{{showError("name")}}</span>
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            [ngClass]="{'is-invalid': !slForm.get('amount').valid && slForm.get('amount').touched}"
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount">
            <span *ngIf="slForm.get('amount').touched && !slForm.get('amount').valid" class="text-help text-danger">{{showError("amount")}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success">{{ isEdit ? ' Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
